<h1> Trip name </h1>

<div class="events-body">
  {{#each events}}
      <div class="col-12 col-md-6 col-lg-4">
          <div class="events">
              <div class="card-header text-muted">
                  THIS IS AN EVENT
              </div>
              <div class="card-body">
                  <h1 class="card-title">{{event.name}}</h1>
                  <p class="card-text">Description: {{event.desc}}</p>
                  <p class="card-text">Date: {{event.date}}</p>
                  <p class="card-text">Time: {{event.time}}</p>
                  <p class="card-text">Location: {{event.loc}}</p>
                  <p class="card-text">Price: {{event.price}}</p>
              </div>
          </div>
      </div>
  {{/each}}
</div>
