<div class="row justify-content-center">
  <h2>My Trip: {{trip.name}}</h2>
</div>

<div class="row justify-content-center">
  <h3><a href="/trips/{{trip.id}}/events/new" class="btn btn-default addevent">
    Add a new event
  </a></h3>
</div>

<div class="row justify-content-center">
  <div class="col-8">
    {{#each events as |event|}}
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="event-name card-title text-center">{{event.name}}</h3>
          <p class="card-text">Description: {{event.desc}}</p>
          <p class="card-text">Date: {{event.date}}</p>
          <p class="card-text">Time: {{event.time}}</p>
          <p class="card-text">Location: {{event.loc}}</p>
          <p class="card-text">Price: {{event.price}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
